<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPVOTING POLICY</title>
</head>
<body>
    <p><a href="/">[GO BACK TO THE CHAT]</a></p>
    <h1>UPVOTING POLICY</h1>
    <p>Basically, if you upvote a conversation, the conversation may be sent to us and stored for as long as we want. And we can do whatever we want with the conversation, including publishing it in our NEW dataset - which may be public (see our GitHub repository for more information) - and training AI on it (and we can do whatever we want with the trained AI, including using it for commercial purposes and redistributing it publicly AND uploading it online) - and using it for commercial purposes - and don't expect any type of compensation for it. But we're not liable for anything in the conversation, because if anything goes wrong it won't be our problem!</p>
    <p>Also make sure not to upvote any offensive or nonsensical conversations, or else the AI's quality might decrease.</p>
    <p>So basically if you upvote something then you agree to this policy. If you don't agree, or don't want to share your conversation, <b>just don't upvote it</b>!</p>
</body>
</html>